
<div class="page">
  <div class="header">
    <div class="header-section header-section--left">
      <img class=header__image src="assets/images/placeholder.jpg">
    </div>
    <div class="header-section header-section--right">
      <h1 class="header__title">Carmen Scholte Lubberink</h1>
      <p class="header__subtitle">Full Stack Developer</p>
      <p class="header__subtitle">26 maart 1989, Groningen, Nederlandse</p>
    </div>
  </div>

  <div class="content">
    <div class="section section--left">

      <div class="block">
        <h2 class="block__title">Werkervaring</h2>

        <div class="experience">
          <h3 class="experience__title">
            <span class="experience__title__date">5/2018 - heden</span>
            Front End Developer</h3>
          <p class="experience__subtitle">TKP Pensioen</p>
          <p>Op basis van UI design heb ik een Drupal/Angular
            webapplicatie vormgegeven en daarnaast functionele verbeteringen doorgevoerd
            in het gebruik hiervan aan de hand van de resultaten van customer journeys.
            Daarnaast heb ik de statische anaylse op me genomen door Karma unittesten en
            linting toe te voegen en dit onderdeel gemaakt van de opleverstraat.
          </p>
        </div>

        <div class="experience">
          <h3 class="experience__title">
            <span class="experience__title__date">4/2017 - 5/2018</span> Medior DevOps Engineer</h3>
          <p class="experience__subtitle">TKP Pensioen</p>
          <p>Ter vernieuwing hield ik me bezig met het omzetten van bestaande JSF
            applicatie naar een AngularJS app. Op eigen initiatief heb ik de styling
            codebase uitgedund zodat deze onderhoudbaar werd en verbeterde de interne
            tooling voor de CI/CD straat voor een snellere
            en minder foutgevoelige oplevering. </p>
        </div>

        <div class="experience">
          <h3 class="experience__title">
            <span class="experience__title__date">9/2015 - 4/2017</span> Junior Java Developer</h3>
          <p class="experience__subtitle">TKP Pensioen</p>
          <p>Ik werd aangenomen op enthousiasme en begon met het onderhouden en vernieuwen
            van bestaande Java applicaties voor het vastleggen van gegevens uit
            verschillende bestandsformaten in een grote database.</p>
        </div>

        <div class="experience">
          <h3 class="experience__title">
            <span class="experience__title__date">2/2014 - 6/2014</span> Onderzoeksassistent Sociale Wetenschap</h3>
          <p class="experience__subtitle">Dr. Boelhouwer</p>
          <p>Na het afronden van mijn masterthese heb ik nog een aantal maanden bijgedragen
            aan het lopende onderzoek waar mijn these deel van uitmaakte. Hiervoor
            categoriseerde en analyseerde ik grote hoeveelheden data uit de open
            vragen van een dagboek studie naar seksuele ontwikkeling van jongeren.
          </p>
        </div>

        <div class="experience">
          <h3 class="experience__title"><span class="experience__title__date">4/2014 - 9/2015</span> Vrijwilliger en Coach Zelfmoordpreventie</h3>
          <p class="experience__subtitle">Stichting 113Online</p>
          <p>Als vrijwilliger heb ik gechat en gebeld met mensen met suicidale gedachten.
            Daarna heb ik een groep nieuwe vrijwilligers gecoacht en gaf ik feedback
            op hun gesprekken.
          </p>
        </div>

      </div>

      <div class="block">
        <h2 class="block__title">Skills</h2>
        <div class="skill">
          <p class="skill__title">Java 8</p>
          <div class="skill-bar">
            <div class="skill-bar-fill skill-bar-fill--80"></div>
          </div>
        </div>
        <div class="skill">
          <p class="skill__title">HTML5</p>
          <div class="skill-bar">
            <div class="skill-bar-fill skill-bar-fill--90"></div>
          </div>
        </div>
        <div class="skill">
          <p class="skill__title">SCSS/SASS</p>
          <div class="skill-bar">
            <div class="skill-bar-fill skill-bar-fill--85"></div>
          </div>
        </div>
        <div class="skill">
          <p class="skill__title">TypeScript/JavaScript</p>
          <div class="skill-bar">
            <div class="skill-bar-fill skill-bar-fill--75"></div>
          </div>
        </div>
        <div class="skill">
          <p class="skill__title">SQL</p>
          <div class="skill-bar">
            <div class="skill-bar-fill skill-bar-fill--70"></div>
          </div>
        </div>
        <div class="skill">
          <p class="skill__title">Python</p>
          <div class="skill-bar">
            <div class="skill-bar-fill skill-bar-fill--15"></div>
          </div>
        </div>
        <div class="skill">
          <p class="skill__title">PHP</p>
          <div class="skill-bar">
            <div class="skill-bar-fill skill-bar-fill--20"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="section section--right">

      <div class="block">
        <h2 class="block__title">Opleiding</h2>

        <div class="education">
          <h3 class="education__title"><span class="education__title__date">
            2014 - 2015</span> OCA Java SE 7 Programmer</h3>
          <p class="">RSVier</p>
          <p>Dit betrof een omscholingstraject van 9 maanden gevolgd door het OCA examen.
            Daarna heb ik 3 maanden in een klein team aan een
            Java applicatie gebouwd tot ik gedetacheerd werd.
          </p>
        </div>

        <div class="education">
          <h3 class="education__title">
            <span class="education__title__date">2011 - 2014</span> Msc. Ontwikkelingspsychologie</h3>
          <p class="">Rijksuniversiteit Groningen</p>
        </div>

        <div class="education">
          <h3 class="education__title">
            <span class="education__title__date">2007 - 2011</span> Bsc. Psychologie</h3>
          <p class="">Rijksuniversiteit Groningen</p>
        </div>
      </div>

      <div class="block block--row">
        <h2 class="block__title">Bekende tools en frameworks</h2>
        <div class="block__section block__section--left">
          <p>Angular</p>
          <p>NodeJS/NPM</p>
          <p>Docker</p>
          <p>Git CI</p>
          <p>XLDeploy</p>
        </div>
        <div class="block__section block__section--right">
          <p>Jenkins</p>
          <p>SonarQube</p>
          <p>Karma</p>
          <p>Cucumber</p>
          <p>Spring Boot</p>
        </div>
      </div>

      <div class="block">
        <h2 class="block__title">Persoonlijk</h2>

        <div class="personality">
          <p class="personality__trait">Introvert</p>
          <div class="slider">
            <div class="slider__handle slider__handle--60"></div>
          </div>
          <p class="personality__trait">Extravert</p>
        </div>
        <!--<p class="personality__quote">In een druk team ben in stiller, in een stil team ben ik gangmaker.</p>-->

        <div class="personality">
          <p class="personality__trait">Solo</p>
          <div class="slider">
            <div class="slider__handle slider__handle--50"></div>
          </div>
          <p class="personality__trait">Team</p>
        </div>
        <!--<p class="personality__quote">Eerst samen afstemmen, dan zelf knallen, en tot slot samen reviewen.</p>-->

        <div class="personality">
          <p class="personality__trait">Theoretisch</p>
          <div class="slider">
            <div class="slider__handle slider__handle--70"></div>
          </div>
          <p class="personality__trait">Praktisch</p>
        </div>
        <!--<p class="personality__quote">Je kan eindeloos fantaseren over de ideale situatie,-->
          <!--maar soms moet het gewoon eerst werken.</p>-->

        <div class="personality">
          <p class="personality__trait">Structuur</p>
          <div class="slider">
            <div class="slider__handle slider__handle--35"></div>
          </div>
          <p class="personality__trait">Chaos</p>
        </div>
        <!--<p class="personality__quote">Chaos geeft ruimte voor nieuwe mogelijkheden, maar-->
          <!--structuur levert een betrouwbaar product op.</p>-->

        <div class="personality">
          <p class="personality__trait">Initiatief</p>
          <div class="slider">
            <div class="slider__handle slider__handle--30"></div>
          </div>
          <p class="personality__trait">Afwachten</p>
        </div>
        <!--<p class="personality__quote">Soms moet je vervelende vragen durven stellen.</p>-->
      </div>


      <div class="block">
        <h2 class="block__title">Contact</h2>
        <p class="block__info">c.scholte.lubberink@gmail.com</p>
        <p class="block__info">carmenscholte.com/cv</p>
        <p class="block__info">06-20255216</p>

        <div class="social">
          <i class="fab fa-linkedin"></i>
          <a href="www.linkedin.com/in/carmen-scholte-lubberink-1416b51b">linkedin.com/in/carmen-scholte-lubberink-1416b51b</a>
        </div>
        <div class="social">
          <i class="fab fa-github"></i>
          <a href="https://github.com/CarmenScholte">github.com/CarmenScholte</a>
        </div>
        <!--<div class="social">-->
          <!--<i class="fab fa-facebook"></i>-->
          <!--<a href="www.facebook.com/carmenscholtelubberink">facebook.com/carmenscholtelubberink</a>-->
        <!--</div>-->

        <!--<p class="social__text">(Let's not pretend you're not going to google me ;) )</p>-->

      </div>

      <div class="block">
        <h2 class="block__title">Andere activiteiten</h2>
        <i class="fas fa-dumbbell"></i>
        <i class="fas fa-utensils"></i>
        <i class="fas fa-code"></i>
        <i class="fas fa-paint-brush"></i>
        <i class="fas fa-pencil-alt"></i>
        <i class="fas fa-gamepad"></i>
      </div>

    </div>
  </div>
</div>