<div class="container">
  <p class="paragraph">My name is Carmen Scholte Lubberink and I am a {{age}} year old artist from the Netherlands.
    I have loved drawing and painting since a very young age.
    I studied psychology at the university of Groningen but found a job as a software developer.
    Although building applications is a creative endeavour, for me it's missing some real world touch.
    This is why I decided to make my most favorite hobby into a business.
    I like to get into tiny details a lot to make my portraits as realistic as possible.
    This is very time consuming, but ultimately most satisfying.
    Im always stiving to draw more accurate, develop my technique, and learn as much as possible.
    Even though I enjoy making portraits the most, I also like to branche out and try different things.
    Since the portraits are in black and white I recently decided to pick up painting and learn how to use color.
    And how better to learn than to copy from the great artists before you.
    While getting into great detail is a lot of fun, but it takes forever to fill a large surface.
    This is why I'm also trying to make bigger paintings without immediately getting lost in the finest brush strokes.
  </p>
</div>
