@import '../../css/public';

.personal {
  margin-bottom: 50px;
  &__text {
    margin: 0;
  }
}

.contact-info {
  margin-bottom: 50px;
  &__text {
    margin: 0;
  }
}

.bedrijfsinfo {
  text-align: center;
}

.icon {
  font-size: 30px;
  margin: $gutter/3;
}


.social {
  text-align: center;

  &__icon {
    color: $dark-grey;
    font-size: 50px;
    margin: $gutter/3;
  }
}
