<div class="container">
  <div class="personal">
    <p class="paragraph">Carmen Scholte Lubberink</p>
    <p class="paragraph">Groningen, Netherlands</p>
  </div>

  <div class="contact-info">
    <p class="paragraph">
        Feel free to contact me if you want to have your portrait made or if you have any questions about my work.
    </p>
    <p class="paragraph">Send an <a href="mailto:c.scholte.lubberink@gmail.com"><strong>email</strong></a> to
        <strong>c.scholte.lubberink@gmail.com</strong> or message me on <a href="https://www.facebook.com/carmenscholte/">
        <strong>Facebook</strong></a> or <a href="https://www.instagram.com/carmenscholte/"><strong>Instagram</strong></a>.
    </p>
  </div>

  <a class="icon" href="https://www.facebook.com/carmenscholte/">
    <i class="fab fa-facebook-square"></i>
  </a>
  <a class="icon" href="https://www.instagram.com/carmenscholte/">
    <i class="fab fa-instagram"></i>
  </a>

</div>
