.background {
  @apply w-screen;
  @apply h-screen;
  @apply fixed;
  @apply top-0;
  @apply left-0;
  background-image: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url('../../assets/images/bg-paint.jpg');
  background-attachment: fixed;
  background-size: cover;
}

.painting {
  &__image-wrap {
    height: 240px;
    img {
      height: 100%;
      object-fit: cover;
    }
  }
}