<div>
  <div class="image-container">
    <img src="assets/images/portrait-couple.jpg">
  </div>
  <div class="image-container">
    <img src="assets/images/portrait-teresa.jpg">
  </div>
  <div class="image-container">
    <img src="assets/images/portrait-rune.jpg">
  </div>
  <div class="image-container">
    <img src="assets/images/portrait-tobias.jpg">
  </div>
  <div class="image-container">
    <img src="assets/images/portrait-randi.jpg">
  </div>
  <div class="image-container">
    <img src="assets/images/portrait-amy.jpg">
  </div>
  <div class="image-container">
    <img src="assets/images/portrait-anne.jpg">
  </div>
  <div class="image-container">
    <img src="assets/images/portrait-inez.jpg">
  </div>
</div>
