<div class="container">
  <div class="header" *ngIf="showNavigation">
    <h2 class="header__title"><a>CSL</a></h2>

    <div class="nav" (scroll)="onScroll($event)">
      <ul class="nav__menu">
        <li class="nav__menu-item">
          <a class="nav__menu-item__link" routerLink="/gallery">{{'nav.gallery' | translate}}</a></li>
        <li class="nav__menu-item">
          <a class="nav__menu-item__link" routerLink="/about">{{'nav.artist' | translate}}</a></li>
        <li class="nav__menu-item">
          <a class="nav__menu-item__link" routerLink="/contact">{{'nav.contact' | translate}}</a></li>
      </ul>
    </div>

    <div class="header__language">
      <button class="button button--lang" (click)="switchLanguage('nl')">NL</button>
      <button class="button button--lang" (click)="switchLanguage('en')">EN</button>
    </div>
  </div>

  <div>
    <router-outlet></router-outlet>
  </div>
</div>



