@import './variables';

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 4;
  background-color: transparentize($black, 0.5);

  &--transparent {
    background-color: transparent;
  }
}

.container {
  @media (min-width: $md) {
    max-width: 1200px;
    padding: 0 ($gutter*2) $gutter;
  }

  margin-top: $gutter;
  padding: 0 $gutter $gutter;
  text-align: center;
}

.paragraph {
  font-size: 16px;
}
