@import './variables';

body {
  @media(min-width: $md) {
    margin: 20px;
    padding: 40px;
  }
  background-color: $cloud;
  box-sizing: border-box;
  color: $storm;
  margin: 14px;
  padding: 15px;
  min-height: calc(100% - 40px);
  position: relative;
}

a {
  color: $dark-grey;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 4;
  background-color: transparentize($black, 0.5);

  &--transparent {
    background-color: transparent;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
