@import 'variables';

.button {

	background: none;
	border: 1px solid $smoke;
	border-radius: 2px;
	min-width: 100px;
	padding: 8px;

	&:focus {
		outline: none;
	}

	&:hover {
		cursor: pointer;
	}

	&--lang {
		border: 0;
		font-weight: bold;
		min-width: 40px;
	}

}