// reset
html {
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  padding-inline-start: 0;
}

li {
  list-style: none;
}

img {
	width: 100%;
	vertical-align: middle;
}

p {
	line-height: 1.5;
}
