.header {
  @apply sticky;
  @apply top-0;
  @apply flex;
  @apply items-center;
  @apply font-light;
  @apply text-white;
  @apply h-16;
  z-index: 1;

  &--light {
    @apply text-gray-900;
    @apply bg-white;
  }

  &__brand {
    cursor: pointer;
  }

  &__left {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;
    flex-basis: 0px;
  }

  &__right {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    flex-basis: 0px;
  }

  &__item {
    display: flex;
    cursor: pointer;
    font-size: 1rem;

    &__link {
      @apply mx-4;
    }

    &__button {
      padding: 0.5rem 1rem;
    }
  }

  &__mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 1rem;
    flex-grow: 1;

    .container {
      display: flex;
      justify-content: flex-end;
    }

    &__item {
      display: flex;

      &--end {
        align-self: flex-end;
      }
    }
  }
}

.hide-on-mobile {
  display: none;

  @include tablet {
    display: inherit;
  }
}

.show-on-mobile {
  display: inherit;

  @include tablet {
    display: none;
  }
}

.js-scroll-lock {
  overflow: hidden;
  height: 100%;
}
