.background-image-wrapper {
  max-height: 600px;
  overflow: hidden;
}

.background-image {
  width: 100%;
}

.image-wrapper {
  overflow: hidden;
  margin-bottom: 1rem;
  box-shadow: 0px 0px 5px 0px $offwhite;
}

.image {
  transition-duration: 200ms;
  width: 100%;
}
