// Colors
$black: #000000;
$black-2: #101010;
$black-3: #202020;
$dark-grey: #303030;
$dark-grey-2: #404040;
$dark-grey-3: #505050;
$grey: #606060;
$grey-2: #707070;
$grey-3: #808080;
$light-grey: #909090;
$light-grey-2: #a0a0a0;
$light-grey-3: #b0b0b0;
$lighter-grey: #c0c0c0;
$lighter-grey-2: #d0d0d0;
$lighter-grey-3: #e0e0e0;
$offwhite: #f0f0f0;
$white: #ffffff;

$textBlue: #255dba;

// Distances
$gutter: 30px;

// Media breakpoints
$sm: 0;
$md: 480px;
$lg: 768px;
$xl: 1024px;

// device breakpoints
$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;
$widescreen: 1216px;
$fullhd: 1408px;